@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;500;700&display=swap");
/* 폰트를 여러개 가져올 수도 있다. */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Outlined);

@import "./reset.css";
@import "./variable.css";
@import "./navigation-bar.css";
@import "./media-query.css";


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

*{
    box-sizing: border-box;
    /* 모든 요소를 화면 안에 포함시킴
    "*"는 모든 태그에 적용한다는 뜻
    box-sizing 박스 크기를 계산할 때 어떤 것을 기준으로 하느냐
    border-box 테두리를 기준으로 크기를 정한다. */
}
body{
    font-family: "Noto Serif KR", sans-serif;
    /* 띄어쓰기 표시 "+"말고, 폰트 사이트에 표시되어 있는대로 */ 
    background-color: var(--background-purple);
    color: white;
}
input{
    border: none;
    outline: none;
    appearance: none;
}

.display-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.position-relative{
    position: relative;
}